.contactSection {
    display: flex;
    min-height: 100vh;
}

.contactSection h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0 20px 20px;
}

.contactForm {
    margin: 20px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.contactForm label {
    padding: 5px 0 2px 0;
}

.contactForm input {
    padding: 2px;
    border: none;
    border-radius: 5px;
}

.contactForm textarea {
    padding: 2px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contactForm button {
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #2e8486;
    color: whitesmoke;
}

.contactForm button:hover {
    background-color: #359698;
    cursor: pointer;
}

@media screen and (max-width: 460px)  {
    .contactForm form {
        width: 100%;
        margin: auto;
    }
}