header {
    background-color: #2e8486;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px #277475;
}

.headTitle {
    padding: 5px 20px;
    color: whitesmoke;
    text-shadow: 1px 2px 3px black;
}